<!--<app-header></app-header>-->

<section class="container">
    <section class="row justify-content-center">
        <div class="col-md-7 mt-5">
            <img src="assets/img/CastLogo.png" alt="CAST Logo" class="w-100"/>
            <div class="text-center my-3">
                <h1>Welcome to CAST!</h1>
                <p class="lead">The CAST (Child Adaptive Search Tool) search engine is an internet search user interface tailored to the
                    skills and needs of children ranging from 6-11 years old.</p>
            </div>
            <div class="text-center">
                <a routerLink="/cast-simple" class="btn btn-primary btn-lg mx-1 mb-3">Search Now! <fa-icon [icon]="faSearch"></fa-icon></a>
                <a
                    href="https://www.boisestate.edu/coen-cs/2018/09/19/research-team-gets-1-2-million-nsf-grant-for-work-on-child-adaptive-search-tool/"
                    class="btn btn-primary btn-lg mx-1 mb-3" target="_blank"
                >Learn More <fa-icon [icon]="faExternalLinkAlt"></fa-icon></a>
                <a
                    href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1763649"
                    class="btn btn-primary btn-lg mx-1 mb-3" target="_blank"
                >NSF Website <fa-icon [icon]="faExternalLinkAlt"></fa-icon></a>
                <a
                    href="https://cast.boisestate.edu/about/cast_flyer.pdf"
                    class="btn btn-primary btn-lg mx-1 mb-3"
                    target="_blank"
                >Looking to Join? <fa-icon [icon]="faUserPlus"></fa-icon></a>
            </div>
        </div>
    </section>
</section>
